<div class="render-component-weather"
     data-delay="0"
     data-loading-title="Loading weather data..."
     data-provider="openweathermap"
     data-provider-key="95e10cf83bddc6f77fe9e2735d9d507e"
     data-units="c"></div>


