<div class="widget widget-side">
    <h2 class="widget-title">Let's stay in touch</h2>

    <p>Subscribe to our newsletter and stay updated on the latest news and special offers!</p>

    <form>
        <div class="form-group">
            <input class="form-control" type="email" placeholder="Enter your email" style="width: 100%;">
        </div>
        <button class="btn btn-primary">Subscribe</button>
    </form>
</div>
