<div class="widget widget-side">

    <form class="form" method="get" action="{{@blog.url}}/search/">
        <div class="input-group">
            <input id="sidebar-search-field" class="form-control" type="text" name="q" placeholder="Search" />
            <div class="input-group-btn">
                <button class="btn btn-input" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
</div>
