{{!< default}}

{{> header
    header-page=true
    category="Error"
    title="Page not found"}}

<main class="container">


    <div class="row">
        <div class="page-content col-lg-8 col-md-8">

            <p>
                The page you were looking for could not be found.
            </p>

            <a href="{{@blog.url}}" class="btn btn-primary">Take me out of here</a>
        </div>

        {{> sidebar}}
    </div>
</main>

