@import 'bootstrap';

@import url(//fonts.googleapis.com/css?family=Raleway:300,400,400italic,500,600,700,800,900&subset=all);
@import url(//fonts.googleapis.com/css?family=Merriweather:400,900,700,300,300italic,400italic,900italic,700italic);

@import 'theme/mixins';
@import 'theme/navigation';
@import 'theme/footer';
@import 'theme/dropdowns';
@import 'theme/tags';
@import 'theme/posts';
@import 'theme/spinner';
@import 'theme/header';
@import 'theme/location';
@import 'theme/weather';
@import 'theme/widget';
@import 'theme/author';
@import 'theme/buttons';

html {
  -webkit-font-smoothing: antialiased;
  @media
  only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and ( min-device-pixel-ratio: 1.25),
  only screen and ( min-resolution: 200dpi),
  only screen and ( min-resolution: 1.25dppx)
  {
    -webkit-font-smoothing: subpixel-antialiased;
  }
  overflow-y:scroll;
}

body {
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings:"lnum" 1;
  -moz-font-feature-settings:"lnum=1";
  -ms-font-feature-settings:"lnum" 1;
  -o-font-feature-settings:"lnum" 1;
  -webkit-font-feature-settings:"lnum" 1;
  font-feature-settings:"lnum" 1;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.menu-visible {
  @media (max-width: $grid-float-breakpoint) {
    background-color: #9a9a9a;
  }
}

.form-control {

  &.form-control-dark {
    background-color: darken($footer-color, 3%);
    border: none;
    color: white;
  }

  &.form-control-search {
    height: 30px;
    margin-top: 20px;
  }
}
