<div class="widget widget-footer col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h2 class="widget-title">About</h2>

    <p>
        Hit the Road is a magazine/blog theme for Ghost blogging platform. Read more about us <a href="{{@blog.url}}/about">here</a>.
    </p>

    <ul class="social-buttons">
        <li><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a></li>
    </ul>

</div>
