<div class="widget widget-side">
    <h2 class="widget-title">About us</h2>

    <p>Hit the Road is a magazine/blog theme for Ghost blogging platform. Read more about us <a href="{{@blog.url}}/about">here</a>.</p>

</div>
