{{!< default}}

{{#author}}
    {{> header
        header-author=true
        category="Author"
        cover=cover
        cover-half=true
        title=name
        description=bio}}
{{/author}}

<main class="container hide-on-menu">

    <div class="row">
        <div class="col-lg-8 col-md-8">
            {{> posts type="grid-narrow"}}
        </div>

        {{> sidebar}}
    </div>
</main>

