{{!< default}}

{{> header
    cover=@blog.cover
    header-index=true
    title=@blog.description}}

<main id="main" class="container hide-on-menu">
    {{> posts type="grid" match-height=true}}
</main>
