{{!< default}}

{{> header
    header-tag=true
    cover=tag.image
    cover-half=true
    title=tag.name
    category="Tag"
    description=tag.description}}

<main class="container container-content hide-on-menu">


    <div class="row">
        <div class="col-lg-8 col-md-8">
            {{> posts type="grid-narrow"}}
        </div>

        {{> sidebar}}
    </div>
</main>

