<footer id="footer" class="footer footer-page hide-on-menu">
    <div class="container">
        <div class="row">

            {{> widgets/footer-about}}
            {{> widgets/footer-tags}}
            {{> widgets/footer-newsletter}}
        </div>
        <div class="row copyright">
            <div class="col-sm-6">
                <p class="copyright">&copy; Copyright 2015. All rights reserved.</p>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>

</footer>